body{
    background-color: whitesmoke;
height: 80%;

}
/* @media screen {max-width: 600px; */
    /* main{
        width: 100%.; */
    /* }
    
} */
div{
    flex-wrap: wrap;
}    

h2{
    color: #316dc3;
    font-size: larger;
    font-size: 30px;
    text-align: center;
   
} 

h1{
    text-align: center;
    color: #316dc3;
    font-weight: bolder;
    font-size:60px;
    
}
 p{
    text-align: center;
    text-transform: capitalize;
    padding: 0.5%;
    font-size: 25px;
text-indent: 1.5em;
text-rendering: auto;

}

.para1{
    text-indent: 1.5em;

}

#starting{
    background-color: #316dc3;
  height: 40px;
  
 }
 button#home{
     width: 70px;
     height: 40px;
    background-color: #316dc3;
    border-radius: 20px;
position: relative;
left:290px;
cursor: pointer; 

}
button#serv{
    width: 90px;
    height: 40px    ;
    padding: 0.5%;
    margin: 5PX;
    position: relative;
    left: 305px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: white;

    
}

td#text{
    
text-transform: capitalize;
font-size: 1.3em;
position: relative;
    left: 70px; bottom: 5px;
    
}

td#start{
    padding: 10px;
    margin: 30px; 
  
}
input{
    position: relative;
    left: 90px; bottom: 5px;
    border-radius: 20px;
    
}
td#img{
    padding: 10px;
    margin: 30px;
    position: relative;
    left: 5px; bottom:5px ;

}



td#sayl{
    position: relative;
    left: 30px;

}
div#say{
   position: fixed ;
   background-position: 20px;
    background-color: white;
    width: 100%;
    
}
div.g{
  
  position: relative;
  top: 40px;
 
}

 
div.f{
    background-color: blue;
    width: 1340px;
height: 320px;    

/* text-indent: 10px;
text-align: center; */
}

td#y{
    padding: 20px;
    margin: 50px;
    text-indent: 20px;
    text-align: center;
    position: relative;
    top: 60px; left:120px;
    width: 250px;
    height: 120px;
   color: white;
   font-size: 20px;
   font-variant-numeric: lining-nums;
text-transform: capitalize;

}

div#a{ 
    padding: 2px;
    margin: 3px; 
    background-color:white;
    width: 350px;
    height: 150px;
    display: inline-block;
     position: relative;
    left: 125px;  bottom: 10px;
    text-align: center;
    
}

h3{
    
    color : #316dc3;
    font-size: 30px;
    position: relative;
    left: 120px; top: 50px;
   
    }
.upc{
    font-size: 30px;
    position: relative;
    left: 930px; bottom: 35px;
    color: green;
    
 }
   
 div#be{
    display:inline-block ;
    padding: 20px;
    margin: 30px;
    width: 220px;
    height: 40pxpx
    background-color: white;
   position: relative;
   left: 90px; bottom: 490px;
  
}  
p.dr{
    width: 300px;
    position: relative;
    left: 70%; bottom: 60px;
    
}
h4{
    color: blue;
    position: relative;
    bottom: 300px;
    text-align: center;
    font-size: 40px;
     }
div#last{
    position: relative;
    bottom: 290px;
   
}
div#black{
    background-color: rgba(32, 15, 15, 0.603);
    width: 100%;
height: 390px;
position: relative;
bottom: 100px;

}
li{
 color: whitesmoke; 
 position: relative;
 left: 60px; top: 30px;  
 padding: 3px;
 margin: 0.5px;

}
h5{
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    left: 50px; top: 40px;
    
}
span{
    color: green;
    
}
p.last{
    font-size: 20px;
    color: white;
    position: relative;
    bottom: 220px;
    text-underline-offset: 2px;
    